<% layout('/layouts/default.html', {title: '采购单单身管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(pmnFile.isNewRecord ? '新增采购单单身' : '编辑采购单单身')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${pmnFile}" action="${ctx}/pmn/pmnFile/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('采购单号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">

								<#form:hidden path="isNewRecord"/>
								<#form:input path="pmn01" maxlength="20" readonly="${!pmnFile.isNewRecord}" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn011')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn011" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('序号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn02" class="form-control required digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn03')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn03" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('料号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn04" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('品名')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn041" maxlength="120" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn05')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn05" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn06')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn06" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('单位')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn07" maxlength="4" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn08')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn08" maxlength="4" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn09')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn09" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn10')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn10" maxlength="4" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn11')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn11" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn121')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn121" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn122')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn122" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn123')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn123" maxlength="24" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn13')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn13" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn14')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn14" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn15')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn15" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn16')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn16" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn18')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn18" maxlength="23" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('数量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn20" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn23')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn23" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn24')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn24" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn25')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn25" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn30')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn30" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pmn31')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn31" class="form-control required number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('含税单价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn31t" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn32')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn32" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('交货日期')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn33" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn34')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn34" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn35')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn35" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn36')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn36" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn37')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn37" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn38')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn38" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn40')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn40" maxlength="24" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn41')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn41" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pmn42')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn42" maxlength="1" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn43')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn43" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn431')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn431" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn44')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn44" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn45')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn45" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn46')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn46" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('收货量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn50" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pmn51')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn51" class="form-control required number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn52')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn52" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pmn53')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn53" class="form-control required number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn54')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn54" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('验退量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn55" class="form-control required number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn56')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn56" maxlength="24" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pmn57')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn57" class="form-control required number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pmn58')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn58" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('仓退量')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn59" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn60')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn60" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pmn61')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn61" maxlength="40" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pmn62')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn62" class="form-control required number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn63')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn63" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn64')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn64" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn65')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn65" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn66')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn66" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn67')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn67" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn68')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn68" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn69')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn69" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn70')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn70" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn71')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn71" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn80')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn80" maxlength="4" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn81')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn81" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn82')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn82" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn83')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn83" maxlength="4" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn84')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn84" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn85')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn85" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn86')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn86" maxlength="4" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn87')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn87" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn88')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn88" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('含税总价')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn88t" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn930')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn930" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn401')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn401" maxlength="24" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn90')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn90" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn94')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn94" maxlength="16" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn95')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn95" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn96')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn96" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn97')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn97" maxlength="4" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn98')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn98" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn91')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn91" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud01')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud01" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud02')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud02" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud03')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud03" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud04')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud04" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud05')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud05" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud06')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud06" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud07')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud07" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud08')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud08" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud09')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud09" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud10')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud10" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud11')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud11" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud12')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud12" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud13')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud13" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud14')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud14" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmnud15')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnud15" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn89')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn89" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn72')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn72" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pmn73')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn73" maxlength="1" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn74')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn74" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn75')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn75" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn76')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn76" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn77')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn77" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pmnplant')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnplant" maxlength="10" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pmnlegal')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmnlegal" maxlength="10" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn012')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn012" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn919')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn919" maxlength="50" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn99')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn99" maxlength="15" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmn78')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmn78" maxlength="6" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('remarks')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:textarea path="remarks" rows="4" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('del_flag')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="delFlag" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('pmn:pmnFile:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>