<% layout('/layouts/default.html', {title: '供应商基本资料表管理', libs: ['validate']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header with-border">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text(pmcFile.isNewRecord ? '新增供应商基本资料表' : '编辑供应商基本资料表')}
			</div>
			<div class="box-tools pull-right">
				<button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
			</div>
		</div>
		<#form:form id="inputForm" model="${pmcFile}" action="${ctx}/pmc/pmcFile/save" method="post" class="form-horizontal">
			<div class="box-body">
				<div class="form-unit">${text('基本信息')}</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('供应厂商编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">

								<#form:hidden path="isNewRecord"/>
								<#form:input path="pmc01" maxlength="10" readonly="${!pmcFile.isNewRecord}" class="form-control required"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('厂商分类')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc02" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('简称')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc03" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('付款厂商编号')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc04" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('交易状况')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:select path="pmc05" dictType="sys_status" blankOption="true" class="form-control" />
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc06')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc06" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc07')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc07" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('全名 ')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc081" maxlength="80" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('全名 ')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc082" maxlength="80" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('地址')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc091" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('地址')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc092" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc093')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc093" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc094')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc094" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc095')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc095" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('电话号码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc10" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('传真号码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc11" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc12')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc12" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc13')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc13" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('资料性质')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc14" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('送货地址')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc15" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc16')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc16" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('付款方式')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc17" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc18')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc18" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc19')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc19" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc20')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc20" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc21')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc21" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc22')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc22" maxlength="4" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc23')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc23" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc24')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc24" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc25')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc25" maxlength="2" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc26')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc26" maxlength="24" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc27')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc27" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc28')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc28" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('厂商性质')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc30" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc40')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc40" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc41')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc41" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc42')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc42" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc43')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc43" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc44')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc44" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc45')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc45" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc46')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc46" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('惯用税别')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc47" maxlength="4" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc48')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc48" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('惯用价格条件')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc49" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc50')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc50" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc51')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc51" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc52')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc52" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc53')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc53" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc54')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc54" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc55')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc55" maxlength="20" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc56')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc56" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc901')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc901" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc902')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc902" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc903')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc903" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc904')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc904" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc905')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc905" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc906')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc906" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc907')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc907" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc908')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc908" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc909')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc909" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc910')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc910" maxlength="30" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc911')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc911" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('资料有效码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcacti" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcuser')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcuser" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcgrup')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcgrup" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcmodu')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcmodu" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcdate')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcdate" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud01')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud01" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud02')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud02" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud03')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud03" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud04')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud04" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud05')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud05" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">


								<span class="required hide">*</span> ${text('pmcud06')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud06" maxlength="40" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud07')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud07" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud08')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud08" class="form-control number"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud09')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud09" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud10')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud10" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud11')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud11" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud12')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud12" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud13')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud13" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud14')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud14" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcud15')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcud15" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc912')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc912" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc1912')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc1912" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc1913')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc1913" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc1914')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc1914" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc1915')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc1915" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('负责人')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc1916" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc1917')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc1917" maxlength="6" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc1918')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc1918" class="form-control number"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc1919')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc1919" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('pmc1920')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc1920" maxlength="10" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc1921')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc1921" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc913')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc913" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc281')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc281" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc914')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc914" maxlength="1" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc915')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc915" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc916')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc916" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc917')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc917" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc918')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc918" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc919')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc919" maxlength="5" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc920')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc920" maxlength="5" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc921')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc921" maxlength="5" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc922')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc922" maxlength="5" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc923')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc923" maxlength="5" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc57')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc57" maxlength="2" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc58')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc58" class="form-control digits"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc59')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc59" maxlength="2" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc60')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc60" maxlength="8" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('对应营运中心代码')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc930" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmccrat')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmccrat" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcoriu')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcoriu" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmcorig')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmcorig" maxlength="10" class="form-control"/>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required hide">*</span> ${text('pmc29')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="pmc29" class="form-control digits"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-12">
						<div class="form-group">
							<label class="control-label col-sm-2" title="">
								<span class="required hide">*</span> ${text('remarks')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-10">
								<#form:input path="remarks" maxlength="255" class="form-control"/>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6">
						<div class="form-group">
							<label class="control-label col-sm-4" title="">
								<span class="required ">*</span> ${text('del_flag')}：<i class="fa icon-question hide"></i></label>
							<div class="col-sm-8">
								<#form:input path="delFlag" maxlength="1" class="form-control required"/>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="box-footer">
				<div class="row">
					<div class="col-sm-offset-2 col-sm-10">
						<% if (hasPermi('pmc:pmcFile:edit')){ %>
							<button type="submit" class="btn btn-sm btn-primary" id="btnSubmit"><i class="fa fa-check"></i> ${text('保 存')}</button>&nbsp;
						<% } %>
						<button type="button" class="btn btn-sm btn-default" id="btnCancel" onclick="js.closeCurrentTabPage()"><i class="fa fa-reply-all"></i> ${text('关 闭')}</button>
					</div>
				</div>
			</div>
		</#form:form>
	</div>
</div>
<% } %>
<script>
$("#inputForm").validate({
	submitHandler: function(form){
		js.ajaxSubmitForm($(form), function(data){
			js.showMessage(data.message);
			if(data.result == Global.TRUE){
				js.closeCurrentTabPage(function(contentWindow){
					contentWindow.page();
				});
			}
		}, "json");
    }
});
</script>