<% layout('/layouts/default.html', {title: '供应商基本资料表管理', libs: ['dataGrid']}){ %>
<div class="main-content">
	<div class="box box-main">
		<div class="box-header">
			<div class="box-title">
				<i class="fa fa-list-alt"></i> ${text('供应商基本资料表管理')}
			</div>
			<div class="box-tools pull-right">
				<a href="#" class="btn btn-default" id="btnSearch" title="${text('查询')}"><i class="fa fa-filter"></i> ${text('查询')}</a>
				<!--<% if(hasPermi('pmc:pmcFile:edit')){ %>
					<a href="${ctx}/pmc/pmcFile/form" class="btn btn-default btnTool" title="${text('新增供应商基本资料表')}">
					<i class="fa fa-plus"></i> ${text('新增')}</a>
				<% } %>-->
			</div>
		</div>
		<div class="box-body">
			<#form:form id="searchForm" model="${pmcFile}" action="${ctx}/pmc/pmcFile/listData" method="post" class="form-inline hide"
					data-page-no="${parameter.pageNo}" data-page-size="${parameter.pageSize}" data-order-by="${parameter.orderBy}">
				<div class="form-group">
					<label class="control-label">${text('供应厂商编号')}：</label>
					<div class="control-inline">
						<#form:input path="pmc01" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('简称')}：</label>
					<div class="control-inline">
						<#form:input path="pmc03" maxlength="40" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<label class="control-label">${text('交易状况')}：</label>
					<div class="control-inline width-120">
						<#form:select path="pmc05" dictType="pmc_status" blankOption="true" class="form-control"/>
					</div>
				</div>
				<!--<div class="form-group">
					<label class="control-label">${text('pmcud05')}：</label>
					<div class="control-inline">
						<#form:input path="pmcud05" maxlength="40" class="form-control width-120"/>
					</div>
				</div>-->
				<div class="form-group">
					<label class="control-label">${text('负责人')}：</label>
					<div class="control-inline">
						<#form:input path="pmc1916" maxlength="10" class="form-control width-120"/>
					</div>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-sm">${text('查询')}</button>
					<button type="reset" class="btn btn-default btn-sm">${text('重置')}</button>
				</div>
			</#form:form>
			<table id="dataGrid"></table>
			<div id="dataGridPage"></div>
		</div>
	</div>
</div>
<% } %>
<script>
// 初始化DataGrid对象
$('#dataGrid').dataGrid({
	searchForm: $("#searchForm"),
	columnModel: [
		{header:'${text('供应厂商编号')}', name:'pmc01', index:'a.pmc01', width:200, align:"left", frozen:true, formatter: function(val, obj, row, act){
			return '<a href="${ctx}/pmc/pmcFile/form?pmc01='+row.pmc01+'" class="btnList" data-title="${text('编辑供应商基本资料表')}">'+(val||row.id)+'</a>';
		}},
		{header:'${text('厂商分类')}', name:'pmc02', index:'a.pmc02', width:180, align:"left"},
		{header:'${text('简称')}', name:'pmc03', index:'a.pmc03', width:100, align:"left"},
		{header:'${text('付款厂商编号')}', name:'pmc04', index:'a.pmc04', width:200, align:"left"},
		{header:'${text('交易状况')}', name:'pmc05', index:'a.pmc05', width:180, align:"center", formatter: function(val, obj, row, act){
			return js.getDictLabel(${@DictUtils.getDictListJson('pmc_status')}, val, '${text('未知')}', true);
		}},
		{header:'${text('全名 ')}', name:'pmc081', index:'a.pmc081', width:100, align:"left"},
		{header:'${text('全名 ')}', name:'pmc082', index:'a.pmc082', width:100, align:"left"},
		{header:'${text('地址')}', name:'pmc091', index:'a.pmc091', width:100, align:"left"},
		{header:'${text('地址')}', name:'pmc092', index:'a.pmc092', width:100, align:"left"},
		{header:'${text('电话号码')}', name:'pmc10', index:'a.pmc10', width:180, align:"left"},
		{header:'${text('传真号码')}', name:'pmc11', index:'a.pmc11', width:180, align:"left"},
		{header:'${text('资料性质')}', name:'pmc14', index:'a.pmc14', width:180, align:"left"},
		{header:'${text('送货地址')}', name:'pmc15', index:'a.pmc15', width:180, align:"left"},
		{header:'${text('付款方式')}', name:'pmc17', index:'a.pmc17', width:180, align:"left"},
		{header:'${text('厂商性质')}', name:'pmc30', index:'a.pmc30', width:180, align:"left"},
		{header:'${text('惯用税别')}', name:'pmc47', index:'a.pmc47', width:180, align:"left"},
		{header:'${text('惯用价格条件')}', name:'pmc49', index:'a.pmc49', width:200, align:"left"},
		{header:'${text('资料有效码')}', name:'pmcacti', index:'a.pmcacti', width:150, align:"left"},
		{header:'${text('负责人')}', name:'pmc1916', index:'a.pmc1916', width:150, align:"left"},
		/*{header:'${text('pmc60')}', name:'pmc60', index:'a.pmc60', width:150, align:"left"},*/
		{header:'${text('操作')}', name:'actions', width:120, sortable:false, title:false, formatter: function(val, obj, row, act){
			var actions = [];
			<% if(hasPermi('pmc:pmcFile:edit')){ %>
				/*actions.push('<a href="${ctx}/pmc/pmcFile/form?pmc01='+row.pmc01+'" class="btnList" title="${text('编辑供应商基本资料表')}"><i class="fa fa-pencil"></i></a>&nbsp;');
			*/
					actions.push('<a href="${ctx}/pmc/pmcFile/delete?pmc01='+row.pmc01+'" class="btnList" title="${text('删除供应商基本资料表')}" data-confirm="${text('确认要删除该供应商基本资料表吗？')}"><i class="fa fa-trash-o"></i></a>&nbsp;');
			<% } %>
			return actions.join('');
		}}
	],
	// 加载成功后执行事件
	ajaxSuccess: function(data){
		
	}
});
</script>